[Desktop Entry]
Name=Todo
Comment=Manage your tasks with the todo.txt.d format
Exec=gnome-todo
Icon=dev.bayhan.GnomeTodo
Terminal=false
Type=Application
Categories=GTK;Utility;ProjectManagement;
Keywords=todo;task;gtd;productivity;todotxt;
StartupNotify=true
